@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }


  @font-face {
    font-family: 'PP Neue Montreal';
    src: url('/fonts/PPNeueMachina-Regular.otf') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  
  
  html, body {
    font-family: 'PP Neue Montreal', sans-serif;
  }
  